/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilos generales */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* estilos main */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 1rem;
}

main div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

main h1 {
    font-weight: bolder;
    font-size: 25px;
}

h1 span {
    color: white;
    background-color: #52a57c;
    border-radius: 15px;
    padding: 0.5rem 0.5rem;
}

h2 {
    font-weight: bolder;
    background-color: #52a57c;
    color: white;
    padding: 0.5rem 2rem;
    margin: 2rem;
    border-radius: 15px;
}

main p {
    color: #52a57c;
    background-color: whitesmoke;
    border-radius: 30px;
    margin: 1rem;
    padding: 0.5rem 2rem;
}

main .titulo {
    background-color: #52a57c;
    color: white;
    font-weight: bolder;
    border-radius: 15px;
    font-size: 25px;
    padding: 0.5rem 0,5rem;
}

main .imgsuc {
    width: 85%;
    padding: 1rem;
}

main iframe {
    width: 97%;
    border: none;
    border-radius: 30px;
}

main .catalogo {
    color: white;
    background-color: #52a57c;
    border-radius: 30px;
    margin: 1rem;
    padding: 0.5rem 2rem;
}

main .info-espejo {
    margin-top: 4rem;
}

main .espejos {
    width: 85%;
}

main .direccion {
    color: #52a57c;
    background-color: whitesmoke;
    border-radius: 30px;
    margin: 1rem;
    padding: 0.5rem 2rem;
    font-weight: bolder;
}

/* estilos section */
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 1rem;
}

section p {
    color: #52a57c;
    background-color: whitesmoke;
    border-radius: 30px;
    margin: 1rem;
    padding: 0.5rem 2rem;
}

section img {
    width: 70px;
}

section a {
    text-decoration: none;
    color: #52a57c;
}

/* estilos footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: black;
    color: white;
}

/* mq desktop */
@media (min-width: 1024px) {

    /* estilos header */
    .navbar-toggler {
        display: none;
    }

    .navbar .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar-brand {
        margin-right: auto;
    }

    .navbar-collapse {
        display: flex !important;
        justify-content: flex-end;
    }

    .navbar-nav {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
    }

    .navbar-collapse.bg-light {
        background: none !important;
    }

    /* estilos main */
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        align-items: center;
        text-align: left;
    }

    .img-uno {
        grid-column: 1;
        grid-row: 2;
        width: 50%;
        margin-left: 25rem;
    }

    .text-uno {
        grid-column: 2;
        grid-row: 2;
        margin-right: 25rem;
    }

    .img-dos {
        grid-column: 1;
        grid-row: 4;
        width: 50%;
        margin-left: 25rem;
    }

    .text-dos {
        grid-column: 2;
        grid-row: 4;
        margin-right: 25rem;
    }

    h1 {
        grid-column: 1/3;
        text-align: center;
        margin-bottom: 2rem;

    }

    h2 {
        grid-column: 1/3;
        text-align: center;
        margin-top: 2rem;
    }

    .catalogo {
        text-align: center;
        margin-bottom: 2rem;
    }

    #info-espejo-uno {
        grid-column: 2;
        grid-row: 2;
        margin-right: 40rem;
    }

    #espejo-uno {
        grid-column: 1;
        grid-row: 2;
        width: 30%;
        margin-left: 30rem;
    }

    #info-espejo-dos {
        grid-column: 2;
        grid-row: 3;
        margin-right: 40rem;
    }

    #espejo-dos {
        grid-column: 1;
        grid-row: 3;
        width: 30%;
        margin-left: 30rem;
    }

    #info-espejo-tres {
        grid-column: 2;
        grid-row: 4;
        margin-right: 40rem;
    }

    #espejo-tres {
        grid-column: 1;
        grid-row: 4;
        width: 30%;
        margin-left: 30rem;
    }

    .titulo {
        grid-column: 1/3;
        text-align: center;
        margin-bottom: 1.5rem;
    }

    .imgsuc {
        grid-column: 1;
        grid-row: 2;
        width: 100%;
        height: 40rem;
        object-fit: cover;
    }

    iframe {
        grid-column: 2;
        grid-row: 2;
        width: 20rem;
        height: 20rem
    }

    .direccion {
        grid-column: 1/3;
        grid-row: 3;
        text-align: center;
        margin-top: 1rem;
    }
}