//VARIABLES
@use "../utilities/variables" as *;
//MIXIN
@use "../utilities/mixin" as *;

/*MQ TABLET*/

@media (min-width: 768px) and (max-width: 1023px) {

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
        align-items: center;
    }

    h1,
    h2,
    .titulo {
        grid-column: 1/3;
    }

    .img-uno,
    .img-dos {
        grid-column: 1/2;
        width: 100%;
        justify-self: stretch;
        align-self: stretch;
    }

    .text-uno,
    .text-dos {
        grid-column: 2/3;
        width: 100%;
        justify-self: stretch;
        align-self: stretch;
    }

    #espejo-uno,
    #espejo-dos,
    #espejo-tres {
        width: 60%;
        justify-self: center;
    }

    #info-espejo-uno,
    #info-espejo-dos,
    #info-espejo-tres {
        width: 80%;
        justify-self: center;
        margin: 2rem 0;
    }

    .imgsuc {
        width: 90%;
        height: auto;
    }

    iframe {
        width: 80%;
        height: 20rem;
    }

    .direccion {
        grid-column: 1/3;
        margin-top: 2rem;
    }
}