//VARIABLES
@use "../utilities/variables" as *;
//MIXIN
@use "../utilities/mixin" as *;

/*MQ DESKTOP*/

@media screen and (min-width: 1024px) {

    /*ESTILOS HEADER*/
    .navbar-toggler {
        display: none;
    }

    .navbar {

        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .navbar-brand {
            margin-right: auto;
        }

        .navbar-collapse {
            display: flex !important;
            justify-content: flex-end;
        }

        .navbar-nav {
            display: flex;
            flex-direction: row;
            gap: 1.5rem;
        }

        .navbar-collapse {
            .bg-light {
                background: none !important;
            }
        }
    }


    /*ESTILOS MAIN*/

    main {
        @include main-desk;
    }

    h1,
    h2 {
        grid-column: 1/3;
        text-align: center;
        margin-bottom: 2rem;
    }

    .titulo {
        grid-column: 1/3;
        text-align: center;
        margin-bottom: 1/5rem;
    }

    .img-uno {
        @include img-uno-dos;
        grid-row: 2;
    }

    .img-dos {
        @include img-uno-dos;
        grid-row: 4;
    }

    .text-uno {
        @include text-uno-dos;
        grid-row: 2;
    }

    .text-dos {
        @include text-uno-dos;
        grid-row: 4;
    }

    .catalogo {
        text-align: center;
        margin-bottom: 2rem;
    }

    #espejo-uno {
        @include img-espejos;
        grid-row: 2;
    }

    #espejo-dos {
        @include img-espejos;
        grid-row: 3;
    }

    #espejo-tres {
        @include img-espejos;
        grid-row: 4;
    }

    #info-espejo-uno {
        @include info-espejos;
        grid-row: 2;
    }

    #info-espejo-dos {
        @include info-espejos;
        grid-row: 3;
    }

    #info-espejo-tres {
        @include info-espejos;
        grid-row: 4;
    }

    .imgsuc {
        grid-column: 1;
        grid-row: 2;
        width: 100%;
        height: 40rem;
        object-fit: cover;
    }

    iframe {
        grid-column: 2;
        grid-row: 2;
        width: 20rem;
        height: 20rem;
    }

    .direccion {
        grid-column: 1/3;
        grid-row: 3;
        text-align: center;
        margin-top: 1rem;
    }
}