//VARIABLES
@use "../utilities/variables" as *;
//MIXIN
@use "../utilities/mixin" as *;

/*ESTILOS MAIN*/
main{
    @include main-section(2rem 1rem);
    h1{
        font-weight: bolder;
        font-size: 25px;

        span{
            color: $color-titulo-sub;
            background-color: $color-principal;
            border-radius: 15px;
            padding: 0.5rem 0.5rem;
        }
    }

    h2{
        font-weight: bolder;
        background-color: $color-principal;
        color: $color-titulo-sub;
        padding: 0.5rem 2rem;
        margin: 2rem;
        border-radius: 15px;
    }

    p{
        color: $color-tipografia;
        background-color: $color-bg-p;
        border-radius: 30px;
        margin: 1rem;
        padding: 0.5rem 2rem;
    }

    div{
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 30px;
        }
    }

    iframe{
        width: 97%;
        border: none;
        border-radius: 30px;
    }

    .info-espejo{
        margin-top: 4rem;
    }

    .titulo{
        background-color: $color-principal;
        color: $color-titulo-sub;
        font-weight: bolder;
        border-radius: 15px;
        font-size: 25px;
        padding: 0.5rem 1.5rem;
    }

    .imgsuc{
        width: 85%;
        padding: 1rem;
    }

    .catalogo{
        color: $color-titulo-sub;
        background-color: $color-principal;
        border-radius: 30px;
        margin: 1rem;
        padding: 0.5rem 2rem;
    }

    .info-espejo{
        margin-top: 4rem;
    }

    .espejos{
        @include espejos;
    }

    .direccion{
        color: $color-principal;
        background-color: $color-bg-p;
        border-radius: 30px;
        margin: 1rem;
        padding: 0.5rem 2rem;
        font-weight: bolder;
    }
    
}

/*ESTILOS SECTION*/
section{
    @include main-section(2rem 1rem);

    p{
        color: $color-tipografia;
        background-color: $color-bg-p;
        border-radius: 30px;
        margin: 1rem;
        padding: 0.5rem 2rem;
    }

    img{
        width: 70px;
    }

    a{
        text-decoration: none;
        color: $color-tipografia;
    }
}

/*ESTILOS FOOTER*/
footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: $color-footer;
        color: $color-titulo-sub;
}
